{% extends 'bareborne.html' %}
{% block content %}
    <div class="container">
        <div class="marco-caja-v2">
            <p class="fs-1 caja2-titulo">Editar Alerta</p>
            <div class="marco-interno-caja">
                <form action="/guardar" method="POST">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="correo" id="correo"
                               placeholder="correo@correo.com"
                               value="{{ alerta.correo }}"
                               required>
                        <label for="correo">Dirección de email a la que se le notificará</label>
                    </div>
                    <div class="row form-floating mb-3">
                        <div class="col-md-10">
                            <label for="treshold">Cantidad de tickets que disparará la alerta:</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" name="treshold" id="treshold"
                                   value="{{ alerta.treshold }}" required>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mensaje" name="mensaje" placeholder="mensaje"
                               value="{{ alerta.mensaje }}" required>
                        <label for="mensaje">personaliza el mensaje que se mostrará en la alerta</label>
                    </div>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn-success" id="toastbtn" type="submit">Guardar plan de contingencia
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto alert alert-success animate__animated animate__fadeInUp"
             style="display: {{ display_alerta_editar }} !important;" role="alert">
            Alerta Actualizada satisfactoriamente.
        </div>
    </div>
{% endblock content %}